body {
    background-color: #f1ecec;
    
}

:root {
    --fondo-dark: #131b24;
    --color-dark: white;
}

.text-white {
    color: black;
}



h1 {
    font-size: 20px;
    font-family: sans-serif;
    text-align: center;
    margin-top: 250px;
    font-weight: normal;
}

#menu {
    text-align: right;
    align-items: center;
    position: "";
}
#menu li {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
}

ul.show {
    top: 65px;
}

.menu-a {
    display: none;
}

a {
    text-decoration: none;
    font-family: sans-serif;
    color: black;
}

body.dark-mode nav a {
    color: white;
}

.cont-icons {
    display: inline-block;
    padding-left: 100px;
    margin-right: 50px;
}

.icons{
    fill: white;
    background-color: #ec5353;
    border-radius: 100%;
    height: 19px;
    width: 19px;
    padding: 8px;
    margin-right: 20px;
    margin-top: 10px;
    cursor: pointer;
}

.encendido {
    display: inline;
}

.apagado {
    display: none;
}


.btn-switch {
    border: none;
    background: none;
    outline: none;
}



.dark-mode {
    background: var(--fondo-dark);
    color: var(--color-dark);
}

#form {
    width: 100%;
}

.cont-icons-form{
    display: inline-block;
    padding-left: 160px;
    margin-right: 50px;
}

#form label {
    margin-bottom: 10px;
}

.box-style {
    width: 350px;
    height: 500px;
    background: #FFFFFF;
    margin-left: 500px;
    margin-top: 20px;
    box-shadow: 0px 2px 2px 2px #d6d4d4 ;
}

body.dark-mode div.box-style {
    width: 350px;
    height: 500px;
    background: #1c2b34;
    color: white;
    margin-left: 500px;
    margin-top: 20px;
    box-shadow: 0px 2px 2px 2px var(--fondo-dark);
}

h4 {
    padding-top: 25px;
    padding-left: 30px;
    margin-bottom: 35px;
    font-family: sans-serif;
}


.labels {
    padding-bottom: 20px;
    padding-left: 35px;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: bold;
}



input {
    width: 81%;
    height: 30px;
}

.style-input {
    margin-top: 15px;
    margin-left: 10px;
    padding-bottom: 5px;
    font-size: 14px;
    font-family: sans-serif;
    background: #e4dede;
    display: block;
    border: none;
    color: black;
}

body.dark-mode input.style-input {
    margin-top: 15px;
    margin-left: 10px;
    padding-bottom: 5px;
    font-size: 14px;
    font-family: sans-serif;
    background: #3b4353;
    display: block;
    border: none;
    color: white;
}

body.dark-mode textarea {
    background: #3b4353;
    color: white;
}

.style-input::placeholder {
    color: black;
}

body.dark-mode input.style-input::placeholder {
    color: #d6d4d4;
}

body.dark-mode textarea::placeholder {
    color: #d6d4d4;
}

#btn {
    background: #ec4242;
    font-family: sans-serif;
    font-size: 18px;
    text-align: center;
    color: white;
    border: none;
    border-radius: 3.8%;
    margin-top: 12px;
    margin-left: 45px;
    padding: 6px 99px 6px 110px;
    cursor: pointer;
}

/* Responsive-Design*/
@media screen and (max-width:420px){
    #light {
        display: none;
    }
    #black {
        display: none;
    }
    
    #refresh {
        display: none;
    }

    body.dark-mode #icon-menu {
        fill: white;
    }

    body.dark-mode #close {
        fill: white;
    }

    #menu {
        position: fixed;
        width: 100%;
        margin-top: -260%;
        transition: all 2s ease;
    }

    body.dark-mode #menu ul {
        background-color: var(--fondo-dark);
        color: white;
        border-top: solid 2px white;
        height: 83vh;
    }

    body.dark-mode #menu a {
        color: white;
    }

    #menu ul {
        flex-direction: column;
        width: 100%;
        height: 83vh;
        padding-left: 0px;
        border-top: solid 2px black;
        /*border-bottom: solid 2px black;*/
        background-color: white;
        z-index: 100;
        margin-left: -10px;
        padding-bottom: 2px;
        padding-top: 15px;
        margin-top: auto;
    }

    #menu li  {
        display: flex;
        border-bottom: solid 2px black;
        margin-bottom: 18px;
        text-align: right;
        margin-right: auto;
        margin-left: -4px;
        width: auto;
        padding-left: initial;
    }

    body.dark-mode #menu li {
        border-bottom: solid 2px white;
    }

    #menu a {
        text-decoration: none;
        font-family: sans-serif;
        color: black;
        margin: auto auto 16px auto;
    }

    .menu-a {
        font-size: 16px;
        display: inline-block;
    }

    #btn-menu {
        margin-left: auto;
        margin-top: 10px;
        display: block;
    }

    .cont-icons {
        display: flex;
        margin: auto auto auto auto;
        width: 126px;
        padding-left: 0px;
    }

    #btn-menu:checked ~ #menu {
        margin: 0;
    }

    .icons-menu {
        height: 56px;
        width: 46px;
        border-radius: 100%;
        margin-left: 0px;
        margin-top: 3px;
    }


    .on {
        display: inline;
    }

    /*Formulario*/
    h4 {
        padding-top: 25px;
        padding-left: 30px;
        margin-bottom: 35px;
        font-family: sans-serif;
        font-size: 14px;
    }

    .box-style {
        width: 284px;
        height: 483px;
        background: #FFFFFF;
        margin-left: auto;
        margin-right: auto;
        margin-top: auto;
        box-shadow: 0px 2px 2px 2px #d6d4d4;
    }

    body.dark-mode div.box-style {
        width: 284px;
        height: 483px;
        background: #1c2b34;;
        margin-left: auto;
        margin-right: auto;
        margin-top: auto;
        box-shadow: 0px 2px 2px 2px var(--fondo-dark);
    }

    .labels {
        padding-bottom: 20px;
        padding-left: 32px;
        font-family: sans-serif;
        font-size: 13px;
        font-weight: bold;
    }
    
    .style-input {
        margin-top: 15px;
        margin-left: 1px;
        padding-bottom: 5px;
        font-size: 12px;
        font-family: sans-serif;
        background: #e4dede;
        display: block;
        border: none;
    }

    #input {
        width: 86%;
        height: 35px;
    }

    #btn {
        background: #ec5353;
        font-family: sans-serif;
        font-size: 15px;
        text-align: center;
        color: white;
        border: none;
        border-radius: 3.8%;
        margin-top: 12px;
        margin-left: 47px;
        padding: 6px 70px 6px 71px;
        cursor: pointer;
    }

   /*Home*/
   h1 {
    font-size: 22px;
    font-family: sans-serif;
    text-align: center;
    margin-top: 71px;
    font-weight: normal;
    width: 248px;
    margin: 177px auto 0px auto;
    }
}

 
